body {
    margin: 0;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

#container {
    width: 100vw;
    height: 100vh;
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#navigation_bar {
    width: 100%;
    height: 80px;
    background-color: #e4e4e4;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navigation {
    width: 1200px;
    font-size: 20px;
    font-weight: 700;
}

#main_container {
    width: 1200px;
    flex-grow: 1;
    background-color: #ffffff;
    padding: 60px 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#title_box {
    width: 1000px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#title_box > div:nth-child(1) {
    font-size: 44px;
    font-weight: 700;
    color: #7744ff;
}

#title_box > div:nth-child(2) {
    font-size: 16px;
    font-weight: 500;
    color: #7c7c7c;
}

#list_container {
    width: 1000px;
    display: flex;
    flex-direction: column;
}

#list_container > div {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 700;
    color: #7c7c7c;
}

#count_span {
    color: #7744ff;
}

#head_table {
    border-top: 2px solid #7744ff;
    box-sizing: border-box;
    border-collapse: collapse;
}

#body_container {
    position: relative;
    max-height: 500px;
    min-height: 500px;
    overflow-y: auto;
    border-bottom: 2px solid #7744ff;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

#body_container > table {
    position: absolute;
    top: 0;
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #f5f5f5;
}

thead > tr {
    height: 36px;
}

tbody {
    background-color: #ffffff;
}

#body_container > div {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

tbody > tr {
    height: 60px;
    border: none;
    border-top: 1px solid #e4e4e4;
    box-sizing: border-box;
}

td {
    font-size: 18px;
    font-weight: 400;
    color: #444444;
    cursor: default;
}

thead > tr > th:nth-child(1),
th:nth-child(3) {
    width: 120px;
}

thead > tr > th:nth-child(2) {
    text-align: start;
}

tbody > tr > td:nth-child(1),
td:nth-child(3) {
    width: 120px;
    text-align: center;
}

tbody > tr > td:nth-child(2):hover {
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #444444;
}
